<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-animate.js"></script>
  <script>
  var app = angular.module('', ['ngAnimate']);
  </script><head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <title>Emploi du Temps</title>
  </head>
  <body> 
    <header class="header">
      <img src="../../content/images/logo_itd.png" alt="Logo ITD" class="logo">
      <h1>Institut des Technologies du Digital</h1>
    </header>
    <nav class="navigation">
      <a href="/etudiant" class="nav-button">Accueil</a>
      <a href="/eEmploiDuTemps" class="nav-button">Emploi du Temps</a>
      <a href="/eNotes" class="nav-button">Notes</a>
      <a href="#mes-cours" class="nav-button">Cours</a>
      <a href="/certifications" class="nav-button">Certifications</a>
      <a href="#notifications" class="nav-button">Notifications</a>
  </nav>
<div style="background-color: aqua;"></div>
<table class="table table-striped">
   <thead  class="table-dark">
      <tr class="table-striped">
      <th class="table-primary">Jours</th>
      <th class="table-secondary">Heures</th>
      <th class="table-success">Cours</th>
      <th class="table-danger">Professeurs</th>
      <th class="table-warning">Horaires</th>
  
    </tr>
  </thead>
  <tbody class="table-striped">
    <tr>
    <td class="table-primary">Lundi</td>
    <td class="table-secondary">17:00 - 21:00</td>
    <td class="table-success"> Développement Back-End</td>
    <td class="table-danger">Abdoulaye Ly</td>
    <td class="table-warning">4H</td>
   
    </tr>        
    <tr >
      <td class="table-primary">Mardi </td>
      <td class="table-secondary">16:00-18:00</td>
      <td class="table-success"> Architecture-Modélisation des données</td>
      <td class="table-danger">Sébastien Faye</td>
      <td class="table-warning">2H</td>
      
    </tr>
    <tr >
      <td class="table-primary">Mercredi</td>
      <td class="table-secondary">16:00-18:00</td>
      <td class="table-success">Architecture-Modélisation des données</td>
      <td class="table-danger">Sébastien Faye</td>
      <td class="table-warning">2H</td>
     
    </tr>
    <tr >
      <td class="table-primary"></td>
      <td class="table-secondary">18:00-21:00</td>
      <td class="table-success">Les Réseaux et Télécoms-La 5G et l'IoT</td>
      <td class="table-danger">Abdoulaye Kebe</td>
      <td class="table-warning">3H</td>
      
    </tr>
    <tr >
      <td class="table-primary">Jeudi</td>
      <td class="table-secondary">14:00-17:00</td>
      <td class="table-success"> Bureautique</td>
      <td class="table-danger">Aliou Diabaté</td>
      <td class="table-warning">3H</td>
      
    </tr>
    <tr >
      <td class="table-primary"></td>
      <td class="table-secondary">17:00-20:00</td>
      <td class="table-success">Les Réseaux et Télécoms-La 5G et l'IoT</td>
      <td class="table-danger">Abdoulaye Kebe</td>
      <td class="table-warning">3H</td>
      
    </tr>
    <tr >
      <td class="table-primary">Vendredi</td>
      <td class="table-secondary">16:00-18:00</td>
      <td class="table-success"> Systéme de Gestion de Base de Données</td>
      <td class="table-danger">Sébastien Faye</td>
      <td class="table-warning">2H</td>
      
    </tr>
    <tr >
      <td class="table-primary"></td>
      <td class="table-secondary">18:00-21:00</td>
      <td class="table-success"> Développement Back-End</td>
      <td class="table-danger">Abdoulaye Ly</td>
      <td class="table-warning">3H</td>
      
    </tr>
    <tr >
      <td class="table-primary">Samedi</td>
      <td class="table-secondary">14:00-17:00</td>
      <td class="table-success">Design UX</td>
      <td class="table-danger">Hassia Wandara</td>
      <td class="table-warning">3H</td>
     
    </tr>
    
  </tbody> 
    
  </table>
</body>






  