<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-animate.js"></script>
  <script>
  var app = angular.module('', ['ngAnimate']);
  </script><head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <title>Certifications</title>
  </head>
  <body> 
    <header class="header">
      <img src="../../content/images/logo_itd.png" alt="Logo ITD" class="logo">
      <h1>Institut des Technologies du Digital</h1>
    </header>
    <nav class="navigation">
      <a href="/etudiant" class="nav-button">Accueil</a>
      <a href="/eEmploiDuTemps" class="nav-button">Emploi du Temps</a>
      <a href="/eNotes" class="nav-button">Notes</a>
      <a href="#mes-cours" class="nav-button">Cours</a>
      <a href="/certifications" class="nav-button">Certifications</a>
      <a href="#notifications" class="nav-button">Notifications</a>
  </nav>
<div class="certifications">
    <div style="background-color: aqua;"></div>
<table class="table table-striped">
   <thead  class="table-dark">
      <tr class="table-striped">
      <th class="table-primary">Certifications</th>
      <th class="table-secondary">Statut</th>
      <th class="table-success">Dates de Validation</th>
    </tr>
</thead>
<tbody class="table-striped">
    <tr>
    <td class="table-primary">Red Hat System Administration I (RH 124)</td>
    <td class="table-secondary"><span class="statut">Validé</span></td>
    <td class="table-success"><span class="statut">20/05/2024</span></td>
    </tr>
    <tr>
        <td class="table-primary">Cybersécurity Fundamentals</td>
        <td class="table-secondary"><span class="statut">Validé</span></td>
        <td class="table-success"><span class="statut">14/04/2024</span></td>
        </tr>
        <tr>
            <td class="table-primary">Artificial Intelligence Fundamentals</td>
            <td class="table-secondary"><span class="statut">Validé</span></td>
            <td class="table-success"><span class="statut">02/04/2024</span></td>
            </tr>
            <tr>
                <td class="table-primary">Entreprise Design Thinking Practitioner</td>
                <td class="table-secondary"><span class="statut">Validé</span></td>
                <td class="table-success"><span class="statut">14/08/2024</span></td>
                </tr>
                <tr>
                    <td class="table-primary">Journey to cloud: Envisioning your solution</td>
                    <td class="table-secondary"><span class="statut_no">Non validé </span></td>
                    <td class="table-success"><span class="statut"></span></td>
                    </tr>
</table>
  </div>