<!--<p>cours works!</p>-->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-animate.js"></script>
  <script>
  var app = angular.module('', ['ngAnimate']);
  </script><head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <title>Cours</title>
  </head>
  <body> 
    <header class="header">
      <img src="../../content/images/logo_itd.png" alt="Logo ITD" class="logo">
      <h1>Institut des Technologies du Digital</h1>
    </header>
    <nav class="navigation">
      <a href="/login" class="nav-button">Accueil</a>
      <a href="/eEmploiDuTemps" class="nav-button">Emploi du Temps</a>
      <a href="#mes-notes" class="nav-button">Notes</a>
      <a href="#mes-cours" class="nav-button">Cours</a>
      <a href="#mes-cours" class="nav-button">Certifications</a>
      <a href="#notifications" class="nav-button">Notifications</a>
  </nav>

  <table class="table table-striped">
    <thead  class="table-dark">
       <tr class="table-striped">
       <th class="table-primary">Developpement Back-End</th>
       <th class="table-secondary">Base de Données</th>
       <th class="table-success">Marketing </th>
       <th class="table-danger">Réseaux 5G</th>
       <th class="table-warning">Bureautique</th>
     </tr>
   </thead>
   </body>
